extends ./layout.pug

block content
 h1 Forum
 div#breadcrumb
  a(href='/') Home
 button(type='button', data-toggle='collapse', data-target='#boardCreator') New Board
 div#boardCreator.collapse
  form(action='/boards', method='post')
   div
    label(for='boardTitle') Board Title:
    input#boardTitle(type='text', name='boardTitle')
   input(type='submit', value='Submit')
 table
  tr
   th Boards
  each board in boards
   tr
    td
     a(href='/boards/' + board._id + '/threads') #{board.title}