extends ./layout.pug

block content
 h1 Sign up
 form#register(action='/register', method='post')
  div
   label(for='username') Username:
   input#username(type='text', name='username')
  div
   label(for='email') Email:
   input#email(type='email', name='email')
  div
   label(for='password') Passward:
   input#password(type='password', name='password')
  div
   label(for='confirmPassword') Confirm Passward:
   input#confirmPassword(type='password', name='confirmPassword')
  input(type='submit', value='Submit')